<form method="post" action="{{ path('app_precious_delete', {'id': preciou.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ preciou.id) }}">
    <button class="btn">Delete</button>
</form>
